<br><br><br>
<!--
<form action='/users' method='post' accept-charset='UTF-8'>
  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
  <label for='username'>Username:</label>
  <input type='text' id='username' name='user[username]'><br><br>
  <label for='email'>E-mail:</label>
  <input type='text' id='email' name='user[email]'><br><br>
  <label for='password'>Password:</label>
  <input type='password' id='password' name='user[password]'><br><br>
  <input type='submit'>
</form>
-->
<!--
<%= form_tag('/users', method: :post) %>
<%= label_tag 'Username' %>
<%= text_field_tag 'username' %><br><br>
<%= label_tag 'E-mail' %>
<%= text_field_tag 'email' %><br><br>
<%= label_tag 'Password' %>
<%= password_field_tag 'password'%><br><br>
<%= submit_tag 'Submit' %>
-->
<%= render 'form', user: @user %>
